* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #644101;
    color: rgb(219, 255, 255);
}

h1 {
    margin: 2rem;
}

button {
    background-color: #27c2f1;
    font-weight: bold;
    font-size: 1.2rem;
    height: 2rem;
    padding: 0 1rem;
    color: navy;
    border: 2px black solid;
    border-radius: 1rem;
}

dialog {
    border: none;
    border-radius: 1rem;
    padding: 1.5rem;
    align-self: center;
    justify-self: center;
}

form {
    margin-top: 3rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
}

form > input {
    background-color: aliceblue;
    font-size: 1rem;
    height: 1.4rem;
    border: 1px navy solid;
    border-radius: .8rem;
    padding-left: 1rem;
}


form > button {
    margin: 1rem;
}

#library {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: auto;
    width: 80%;
}

.book-card {
    background-color: #eeab2f;
    border: 3px solid black;
    border-radius: 1rem;
    margin: 1rem;
    height: 300px;
    width: 200px;
    padding: auto;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr 2fr;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.author {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.specs {
    font-style: italic;
}

li {
    text-decoration: none;
    list-style-type: none;
}

button.status {
    font-size: 1rem;
    background-color: rgb(253, 123, 123);
    cursor: pointer;
}

button.read {
    background-color: rgb(61, 255, 61);
}
